USE [master]
GO
/****** Object:  Database [ProjectManagerDB]    Script Date: 20.02.2023 19:54:34 ******/
CREATE DATABASE [ProjectManagerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectManagerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjectManagerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectManagerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjectManagerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectManagerDB]
GO
/****** Object:  Table [dbo].[CostOfWork]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostOfWork](
	[MycroobjectId] [int] NOT NULL,
	[TypeOfWorkId] [int] NOT NULL,
	[Cost(h)] [decimal](3, 2) NULL,
 CONSTRAINT [PK_CostOfWork] PRIMARY KEY CLUSTERED 
(
	[MycroobjectId] ASC,
	[TypeOfWorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [nchar](1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mycroobject]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mycroobject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mycroobject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProjectTeamId] [int] NOT NULL,
	[CreationDate] [date] NOT NULL,
	[CompletionDate] [date] NULL,
	[Deadline] [date] NOT NULL,
	[LaborCost(h)] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[IsCompleted] [bit] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTeam]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTeam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ProjectTeam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ExecutorId] [int] NULL,
	[CreationDate] [date] NOT NULL,
	[CompletionDate] [date] NULL,
	[Deadline] [date] NOT NULL,
	[MycroobjectId] [int] NOT NULL,
	[TypeOFWorkId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMember]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMember](
	[TeamId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_TeamMember] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC,
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfUser]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeOfUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfWork]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfWork](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeOfWork] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.02.2023 19:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Gender] [nchar](1) NOT NULL,
	[TypeOfUserId] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Passwrord] [nvarchar](50) NOT NULL,
	[SpecializationId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CostOfWork] ([MycroobjectId], [TypeOfWorkId], [Cost(h)]) VALUES (1, 1, CAST(0.60 AS Decimal(3, 2)))
INSERT [dbo].[CostOfWork] ([MycroobjectId], [TypeOfWorkId], [Cost(h)]) VALUES (1, 2, CAST(2.40 AS Decimal(3, 2)))
INSERT [dbo].[CostOfWork] ([MycroobjectId], [TypeOfWorkId], [Cost(h)]) VALUES (1, 3, CAST(4.80 AS Decimal(3, 2)))
GO
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (N'Ж', N'Женский')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (N'М', N'Мужской')
GO
SET IDENTITY_INSERT [dbo].[Mycroobject] ON 

INSERT [dbo].[Mycroobject] ([Id], [Name]) VALUES (1, N'Запрос к БД')
INSERT [dbo].[Mycroobject] ([Id], [Name]) VALUES (2, N'Процедура')
INSERT [dbo].[Mycroobject] ([Id], [Name]) VALUES (3, N'Обработка события')
SET IDENTITY_INSERT [dbo].[Mycroobject] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Id], [Name], [ProjectTeamId], [CreationDate], [CompletionDate], [Deadline], [LaborCost(h)], [Description], [IsCompleted]) VALUES (1, N'Проект', 1, CAST(N'2023-02-03' AS Date), NULL, CAST(N'2023-03-03' AS Date), NULL, N'Тестовый проект, который предназначен для тестирования', 0)
INSERT [dbo].[Project] ([Id], [Name], [ProjectTeamId], [CreationDate], [CompletionDate], [Deadline], [LaborCost(h)], [Description], [IsCompleted]) VALUES (2, N'Тестовый архивный', 1, CAST(N'2022-02-15' AS Date), CAST(N'2022-07-05' AS Date), CAST(N'2022-07-20' AS Date), NULL, N'Тестовый проект', 1)
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectTeam] ON 

INSERT [dbo].[ProjectTeam] ([Id]) VALUES (1)
SET IDENTITY_INSERT [dbo].[ProjectTeam] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (1, N'Программист')
INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (2, N'Дизайнер')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([Id], [Name], [ExecutorId], [CreationDate], [CompletionDate], [Deadline], [MycroobjectId], [TypeOFWorkId], [Description], [ProjectId]) VALUES (2, N'Тестовое задание 1', 5, CAST(N'2023-02-03' AS Date), NULL, CAST(N'2023-02-05' AS Date), 1, 1, N'Тестовое описание тестовой задачи', 1)
INSERT [dbo].[Task] ([Id], [Name], [ExecutorId], [CreationDate], [CompletionDate], [Deadline], [MycroobjectId], [TypeOFWorkId], [Description], [ProjectId]) VALUES (3, N'Тестовое задание 2', 6, CAST(N'2023-03-02' AS Date), NULL, CAST(N'2023-03-03' AS Date), 3, 1, N'Тестовое описание для тестовой задачи', 1)
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
INSERT [dbo].[TeamMember] ([TeamId], [MemberId]) VALUES (1, 2)
INSERT [dbo].[TeamMember] ([TeamId], [MemberId]) VALUES (1, 5)
INSERT [dbo].[TeamMember] ([TeamId], [MemberId]) VALUES (1, 6)
GO
SET IDENTITY_INSERT [dbo].[TypeOfUser] ON 

INSERT [dbo].[TypeOfUser] ([Id], [Name]) VALUES (1, N'Менеджер проекта')
INSERT [dbo].[TypeOfUser] ([Id], [Name]) VALUES (2, N'Разработчик')
INSERT [dbo].[TypeOfUser] ([Id], [Name]) VALUES (3, N'Директор')
SET IDENTITY_INSERT [dbo].[TypeOfUser] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfWork] ON 

INSERT [dbo].[TypeOfWork] ([Id], [Name]) VALUES (1, N'Корректировка')
INSERT [dbo].[TypeOfWork] ([Id], [Name]) VALUES (2, N'Изменение')
INSERT [dbo].[TypeOfWork] ([Id], [Name]) VALUES (3, N'Создание')
SET IDENTITY_INSERT [dbo].[TypeOfWork] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirstName], [SecondName], [Patronymic], [Gender], [TypeOfUserId], [Login], [Passwrord], [SpecializationId]) VALUES (2, N'Иван', N'Иванов', N'Иванович', N'М', 1, N'ivan', N'123', NULL)
INSERT [dbo].[User] ([Id], [FirstName], [SecondName], [Patronymic], [Gender], [TypeOfUserId], [Login], [Passwrord], [SpecializationId]) VALUES (3, N'Ангелина', N'Калинина', N'Евгеньевна', N'Ж', 3, N'angi', N'123', NULL)
INSERT [dbo].[User] ([Id], [FirstName], [SecondName], [Patronymic], [Gender], [TypeOfUserId], [Login], [Passwrord], [SpecializationId]) VALUES (5, N'Юлия', N'Копейко', N'Александровна', N'Ж', 2, N'yulii', N'123', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[CostOfWork]  WITH CHECK ADD  CONSTRAINT [FK_CostOfWork_Mycroobject] FOREIGN KEY([MycroobjectId])
REFERENCES [dbo].[Mycroobject] ([Id])
GO
ALTER TABLE [dbo].[CostOfWork] CHECK CONSTRAINT [FK_CostOfWork_Mycroobject]
GO
ALTER TABLE [dbo].[CostOfWork]  WITH CHECK ADD  CONSTRAINT [FK_CostOfWork_TypeOfWork] FOREIGN KEY([TypeOfWorkId])
REFERENCES [dbo].[TypeOfWork] ([Id])
GO
ALTER TABLE [dbo].[CostOfWork] CHECK CONSTRAINT [FK_CostOfWork_TypeOfWork]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_ProjectTeam] FOREIGN KEY([ProjectTeamId])
REFERENCES [dbo].[ProjectTeam] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_ProjectTeam]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Mycroobject] FOREIGN KEY([MycroobjectId])
REFERENCES [dbo].[Mycroobject] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Mycroobject]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_TypeOfWork] FOREIGN KEY([TypeOFWorkId])
REFERENCES [dbo].[TypeOfWork] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_TypeOfWork]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_User] FOREIGN KEY([ExecutorId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_User]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_ProjectTeam] FOREIGN KEY([TeamId])
REFERENCES [dbo].[ProjectTeam] ([Id])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_ProjectTeam]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_User] FOREIGN KEY([MemberId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Specialization] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specialization] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Specialization]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TypeOfUser] FOREIGN KEY([TypeOfUserId])
REFERENCES [dbo].[TypeOfUser] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TypeOfUser]
GO
USE [master]
GO
